
<footer class="footer justify-content-center" style="height: 150px; bottom: 0;">
    <div class="container">
      <p class="text-muted text-center">Follow Us:
        <span>
          <img width="30" height="30" src="assets/fcIcon.png">
        </span>
        <span>
          <img width="35" height="35" src="assets/igIcon.jpeg">
        </span>
        <span>
          <img width="40" height="40" src="assets/snapIcon.png">
        </span>
      </p>
      <br>
      <p class="text-center">&copy; NEST Interior Design Inc.</p>
    </div>
</footer>


  
