<div class="card">
    <div class="card-body text-center">
        <h5>Interior Your NEST...</h5>
        <p>
            NEST is a lifestyle retailer dedicated to inspiring customers through a unique 
            combination of product, creativity and cultural understanding.
        </p>
        <p>
            Your home should be your haven, the place where you can be you. 
            That’s why at NEST Interior we offer products, expertise, and inspiration to help you live your style.
        </p>
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body text-center">
        “Our interiors are an insight into our brains.<br>
        It is a collaboration of design, art, humor, irony, functionality, and the street.” <br>
        ― Amanda Talbot, Rethink: The Way You Live<br>
    </div>
  </div>


