<link href='https://fonts.googleapis.com/css?family=Charm' rel='stylesheet'>

<div class="container align-content-center bg-light">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="assets\home-furniture.jpg" 
            class="rounded m-3 border clickable" 
            alt="Category 1"
            width="300px"
            height="300px"
            [routerLink]="['/products','1']">
        </div>

        <div class="col-md-6">
            <img src="assets\home-bedding.jpg" 
            class="rounded m-3 border clickable" 
            alt="Category 2"
            width="300px"
            height="300px"
            [routerLink]="['/products','2']">
        </div>

        <div class="col-md-6">
            <img src="assets\home-bath.jpg" 
            class="rounded m-3 border clickable" 
            alt="Category 3"
            width="300px"
            height="300px"
            [routerLink]="['/products','3']">
        </div>

        <div class="col-md-6">
            <img src="assets\home-kitchen.jpg" 
            class="rounded m-3 border clickable" 
            alt="Category 4"
            width="300px"
            height="300px"
            [routerLink]="['/products','4']">
        </div>

    </div>
    
</div>
